
.cardColoumn {
    background-color: brown;
}

.image {
    max-height: 30vh;
    object-fit: cover;
    border-radius:12px;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 2.5s;
    }
}