
.btn-more {
    text-align: center;
    justify-self: center;
    border: none;
    Button {
        border-radius: 50px;
    }
    .btn-more:hover {
        background-color:transparent;
        color: black;
    }
}

